//  #press {
//     display: none;
// }
// .block {
//     background: #fff;
//     border: 1px solid black;
//     text-align: center;
//     width: 200px;
//     z-index: 1;
// }
// .block {
//     display: block;
//     position: absolute;
// }
// input:checked + .block {

//     display: none;
// }
// label {
//     color: pink;
//      font-size: 1.5em;
//     }
// label:hover {
//     cursor: pointer;
// }


#toggle {
    display: none;
}
#toggle:checked + .huyna  {

        display: none;

}
.toggle_btn {
    display: block;
    width: 200px;
    background-color: #696969;
    color: white;
}

.huyna {
    display: block;
    width: 400px;
    height: 200px;
    background-color: yellow;
}
.stupid_shit {
    .toggle_btn {
        .label_btn {
            input[type=checkbox] {
                display: none;
            }
            img {
                transition: all 0.3s;
                transform: rotate(0deg);
            }
            input[type=checkbox]:checked + img {
                transform: rotate(480deg);
                        }
        }
    }
}

// @import '../styles/variables_course.scss';
// .pay_attention {
//     position: relative;
//     padding: 10px 0 50px 0;
//     .container {
//         position: relative;
//         .dropdown {
//             position: relative;

//             .dropdown_switcher {
//                 position: relative;
//                 display: flex;
//                 justify-content: space-between;
//                 align-items: center;
//                 padding: 30px 0 ;
//                 cursor: pointer;
//                 .left_dropdown_switcher_block {
//                     display: flex;
//                     justify-content: flex-start;
//                     align-items: center;
//                     .short_line {
//                         background-color: $dark;
//                     }
//                     h2 {
//                         font-family: 'ProximaNovaBold';
//                         font-size: 32px;
//                         word-wrap: normal;
//                         margin-left: 10px;
//                     }
//                 }
//                 .long_line {
//                     width: 70%;
//                     height: 3px;
//                     background-color: #F1F1F1;
//                 }
//                 img {
//                     transition: 0.5s;
//                     transform: rotate(60deg);
//                 }
//             }
//             .dropdown_list {
//                 display: none;
//             }
//             &:hover {
//                 .dropdown_switcher{
//                     img {
//                         transform: rotate(360deg) scale(1.3);
//                     }
//                 }
//                 .dropdown_list {
//                     display: flex;
//                     flex-direction: column;
//                     justify-content: flex-start;
//                     align-items: flex-start;
//                     position: relative;
//                     width: 95%;
//                     margin: 0 auto; 
//                     .dropdown_item {
//                         width: 100%;
//                         display: flex;
//                         flex-direction: column;
//                         justify-content: space-between;
//                         align-items: center;
//                         position: relative;
//                         margin: 0px 5px;
//                         padding: 15px 0;
//                         .dropdown_switcher {
//                             width: 100%;
//                             position: relative;
//                             display: flex;
//                             justify-content: space-between;
//                             align-items: center;
//                             padding: 10px 0 ;
//                             cursor: pointer;
//                             background-color: #FAFAFA;
//                             border: 2px solid #EAEAEA;
//                             .left_dropdown_switcher_block {
//                                 display: flex;
//                                 justify-content: flex-start;
//                                 align-items: center; 
//                                 img {
//                                     margin: 10px 30px;
//                                     transform: rotate(0deg) scale(1);
//                                 }
//                                 h3 {
//                                     font-family: 'ProximaNovaBold';
//                                     font-size: 22px;
//                                     word-wrap: normal;
//                                     margin-left: 10px;
//                                 }
//                             }
//                             img {
//                                 transition: 0.3s;
//                                 transform: rotate(-30deg) scale(1);
//                                 margin: 10px 30px;
//                             }
//                         }
//                         .sub_dropdown_content {
//                             display: none;
//                         }
//                         &:hover {
//                             .dropdown_switcher > img {
//                                 transform: rotate(360deg) scale(1.3);
//                             }
//                             .sub_dropdown_content {
//                                 display: flex;
//                                 flex-direction: column;
//                                 justify-content: flex-start;
//                                 align-items: flex-start;
//                                 position: relative;
//                                 width: 100%;
//                                 margin: 0 auto; 
//                                 p {
//                                     font-family: 'ProximaNovaSemibold';
//                                     font-size: 16px;
//                                     color: #696969;
//                                     border: 2px solid #F3F3F3;
//                                     padding: 15px;
//                                     box-sizing: border-box;
//                                 }
//                             }
//                         }
//                     }
//                 }
//             }
//         }
//     }
// }