@font-face {
  font-family: 'ProximaNovaBold';
  src: url(fonts/ProximaNova-Bold.ttf);
  font-size: 16px;
  color: #222B3A;
}

@font-face {
  font-family: 'ProximaNovaExtrabld';
  src: url(fonts/ProximaNova-Extrabld.ttf);
  font-size: 24px;
  color: #222B3A;
}

@font-face {
  font-family: 'ProximaNovaRegular';
  src: url(fonts/ProximaNova-Regular.ttf);
  font-size: 16px;
  color: #222B3A;
}

@font-face {
  font-family: 'ProximaNovaSemibold';
  src: url(fonts/ProximaNova-Semibold.ttf);
  font-size: 16px;
  color: #222B3A;
}

@font-face {
  font-family: 'Intro';
  src: url(fonts/Intro.otf);
}

* {
  padding: 0;
  margin: 0;
}

ul, a, li {
  text-decoration: none;
  list-style: none;
  color: black;
}

.container {
  margin: 0 auto;
  width: 80%;
}

.short_line {
  height: 2px;
  width: 22px;
  background-color: #979FAD;
}

header {
  position: relative;
  z-index: 5;
}

header .karpachoff_logo {
  padding: 0px 0;
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .container .burger_menu {
  display: none;
}

header .container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .container ul a {
  padding: 20px 0 20px 0;
  margin: 0 20px 0 20px;
  font-family: 'ProximaNovaBold';
  border-bottom: 3px solid #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all .1s;
  transition: all .1s;
}

header .container ul a:hover {
  border-bottom: 3px solid #FC890D;
}

header .container ul a:nth-child(4) {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .container ul a:nth-child(4) img {
  padding-right: 10px;
}

.title_screen {
  position: relative;
  z-index: 2;
  min-height: 60vh;
  padding-top: 120px;
  background-color: #56C3E0;
  overflow: hidden;
}

.title_screen::before {
  position: absolute;
  z-index: 3;
  right: 0;
  bottom: 0;
  content: url(../img/freakin_fkin_kid_cut.png);
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

.title_screen .stripe {
  position: relative;
  width: 30%;
  border-radius: 0px 3px 3px 0px;
  padding: 20px 30px 20px 10%;
  left: 0;
  background-color: #222B3A;
}

.title_screen .stripe h1 {
  font-family: 'Intro';
  font-size: 2.5em;
  font-weight: normal;
  color: #fff;
}

.title_screen .container {
  position: relative;
}

.title_screen .container .title_text {
  margin: 20px 0 60px 0;
  width: 400px;
  font-family: 'ProximaNovaBold';
  color: #222B3A;
}

.title_screen .container .progress_bar_empty {
  position: relative;
  height: 14px;
  max-width: 400px;
  background-color: #fff;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title_screen .container .progress_bar_empty .progress_bar_filled {
  position: relative;
  height: 8px;
  width: 60%;
  background-color: #0A94D1;
  border-radius: 2px;
  margin: 0 3px;
}

.title_screen .container .progress_text {
  margin-top: 10px;
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #222B3A;
  font-family: 'ProximaNovaBold';
}

.title_screen .container .progress_text div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
}

.title_screen .container .progress_text div p {
  font-size: 2.5em;
  font-family: 'ProximaNovabold';
}

.title_screen .container .progress_text div span {
  margin-left: 10px;
  width: 5px;
  font-family: 'ProximaNovaSemibold';
  font-size: 0.9em;
}

.title_screen .title_bottom_text {
  position: absolute;
  margin: 0 0 10px 10%;
  font-size: 24px;
  color: #fff;
  font-family: 'ProximaNovabold';
  bottom: 0;
}

.under_main_screen {
  background-color: #FAFAFA;
}

.under_main_screen .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.under_main_screen .container a {
  font-family: 'ProximaNovaBold';
  color: #979FAD;
  padding: 15px 20px;
  opacity: 1;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.under_main_screen .container a:hover {
  color: #323232;
  opacity: 0.7;
}

.under_main_screen .container a:nth-of-type(3) {
  color: #323232;
}

.under_main_screen .container a:nth-of-type(3):hover {
  color: #000;
  opacity: 1;
}

.under_main_screen .container .short_line {
  height: 2px;
  width: 22px;
  background-color: #979FAD;
}

.module_purposes {
  position: relative;
  padding: 10px 0 50px 0;
}

.module_purposes nav {
  position: absolute;
  z-index: 200;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.module_purposes nav a {
  width: 56px;
  height: 56px;
  margin: 5px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #DADADA;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.module_purposes nav a:hover {
  background-color: #0099DD;
  border-color: #0099DD;
}

.module_purposes nav a:hover svg path {
  fill: #fff;
}

.module_purposes .container {
  position: relative;
}

.module_purposes .container .dropdown {
  position: relative;
}

.module_purposes .container .dropdown .dropdown_switcher {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0;
  cursor: pointer;
}

.module_purposes .container .dropdown .dropdown_switcher .left_dropdown_switcher_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.module_purposes .container .dropdown .dropdown_switcher .left_dropdown_switcher_block .short_line {
  background-color: #222B3A;
}

.module_purposes .container .dropdown .dropdown_switcher .left_dropdown_switcher_block h2 {
  font-family: 'ProximaNovaBold';
  font-size: 32px;
  word-wrap: normal;
  margin-left: 10px;
}

.module_purposes .container .dropdown .dropdown_switcher .long_line {
  width: 70%;
  height: 3px;
  background-color: #F1F1F1;
}

.module_purposes .container .dropdown .dropdown_switcher img {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
}

.module_purposes .container .dropdown .dropdown_list {
  display: none;
}

.module_purposes .container .dropdown:hover .dropdown_switcher img {
  -webkit-transform: rotate(360deg) scale(1.3);
          transform: rotate(360deg) scale(1.3);
}

.module_purposes .container .dropdown:hover .dropdown_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  width: 95%;
  margin: 0 auto;
}

.module_purposes .container .dropdown:hover .dropdown_list .long_line {
  width: 100%;
  height: 1px;
  background-color: #F1F1F1;
}

.module_purposes .container .dropdown:hover .dropdown_list .dropdown_item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin: 20px 0;
}

.module_purposes .container .dropdown:hover .dropdown_list .dropdown_item .dropdown_item_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
}

.module_purposes .container .dropdown:hover .dropdown_list .dropdown_item .dropdown_item_text .item_number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F3F3F3;
  height: 10px;
  width: 10px;
  padding: 10px;
  margin-right: 10px;
  border-radius: 3px 0 3px 0;
}

.module_purposes .container .dropdown:hover .dropdown_list .dropdown_item .dropdown_item_text .item_number p {
  font-family: 'ProximaNovaBold';
}

.module_purposes .container .dropdown:hover .dropdown_list .dropdown_item .dropdown_item_text .item_text {
  max-width: 90%;
  font-family: 'ProximaNovaBold';
}

.module_purposes .container .dropdown:hover .dropdown_list .dropdown_item .checkbox_test * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.module_purposes .container .dropdown:hover .dropdown_list .dropdown_item .checkbox_test input[type='checkbox'] {
  height: 0;
  width: 0;
}

.module_purposes .container .dropdown:hover .dropdown_list .dropdown_item .checkbox_test input[type='checkbox'] + label {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #9e9e9e;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.23, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.23, 1);
}

.module_purposes .container .dropdown:hover .dropdown_list .dropdown_item .checkbox_test input[type='checkbox'] + label > span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1.5em;
  height: 1.5em;
  background: transparent;
  border: 2px solid #9E9E9E;
  border-radius: 2px;
  cursor: pointer;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.23, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.23, 1);
}

.module_purposes .container .dropdown:hover .dropdown_list .dropdown_item .checkbox_test input[type='checkbox'] + label:hover, .module_purposes .container .dropdown:hover .dropdown_list .dropdown_item .checkbox_test input[type='checkbox']:focus + label {
  color: #fff;
}

.module_purposes .container .dropdown:hover .dropdown_list .dropdown_item .checkbox_test input[type='checkbox'] + label:hover > span, .module_purposes .container .dropdown:hover .dropdown_list .dropdown_item .checkbox_test input[type='checkbox']:focus + label > span {
  background: rgba(255, 255, 255, 0.1);
}

.module_purposes .container .dropdown:hover .dropdown_list .dropdown_item .checkbox_test input[type='checkbox']:checked + label > span {
  border: 0.5em solid #0099DD;
  background-color: #0099DD;
  -webkit-animation: shrink-bounce 200ms cubic-bezier(0.4, 0, 0.23, 1);
          animation: shrink-bounce 200ms cubic-bezier(0.4, 0, 0.23, 1);
}

.module_purposes .container .dropdown:hover .dropdown_list .dropdown_item .checkbox_test input[type='checkbox']:checked + label > span:before {
  content: "";
  position: absolute;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-animation: checkbox-check 125ms 250ms cubic-bezier(0.4, 0, 0.23, 1) forwards;
          animation: checkbox-check 125ms 250ms cubic-bezier(0.4, 0, 0.23, 1) forwards;
}

@-webkit-keyframes shrink-bounce {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  33% {
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes shrink-bounce {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  33% {
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes checkbox-check {
  0% {
    width: 0;
    height: 0;
    border-color: #fff;
    -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
            transform: translate3d(0, 0, 0) rotate(45deg);
  }
  33% {
    width: .4em;
    height: 0;
    -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
            transform: translate3d(0, 0, 0) rotate(45deg);
  }
  100% {
    width: .4em;
    height: 1em;
    border-color: #fff;
    -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
            transform: translate3d(0, 0, 0) rotate(45deg);
  }
}

@keyframes checkbox-check {
  0% {
    width: 0;
    height: 0;
    border-color: #fff;
    -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
            transform: translate3d(0, 0, 0) rotate(45deg);
  }
  33% {
    width: .4em;
    height: 0;
    -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
            transform: translate3d(0, 0, 0) rotate(45deg);
  }
  100% {
    width: .4em;
    height: 1em;
    border-color: #fff;
    -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
            transform: translate3d(0, 0, 0) rotate(45deg);
  }
}

.to_work {
  background-color: #FAFAFA;
  padding: 10px 0 50px 0;
}

.to_work .container {
  position: relative;
}

.to_work .container .dropdown {
  position: relative;
}

.to_work .container .dropdown .dropdown_switcher {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0;
  cursor: pointer;
}

.to_work .container .dropdown .dropdown_switcher .left_dropdown_switcher_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.to_work .container .dropdown .dropdown_switcher .left_dropdown_switcher_block .short_line {
  background-color: #222B3A;
}

.to_work .container .dropdown .dropdown_switcher .left_dropdown_switcher_block h2 {
  font-family: 'ProximaNovaBold';
  font-size: 32px;
  word-wrap: normal;
  margin-left: 10px;
}

.to_work .container .dropdown .dropdown_switcher .long_line {
  width: 70%;
  height: 3px;
  background-color: #F1F1F1;
}

.to_work .container .dropdown .dropdown_switcher img {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
}

.to_work .container .dropdown .cards_dropdown {
  display: none;
}

.to_work .container .dropdown:hover .dropdown_switcher img {
  -webkit-transform: rotate(360deg) scale(1.3);
          transform: rotate(360deg) scale(1.3);
}

.to_work .container .dropdown:hover .cards_dropdown {
  position: relative;
  display: block;
}

.to_work .container .dropdown:hover .cards_dropdown .card {
  position: relative;
  background-color: #fff;
  border: 2px solid #FAFAFA;
  margin: 10px 0;
  min-height: 150px;
  /*   hz -------------------------------------- */
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.to_work .container .dropdown:hover .cards_dropdown .card .adaptive_card_title {
  display: none;
}

.to_work .container .dropdown:hover .cards_dropdown .card .card_number {
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  padding: 10px;
  background-color: #F3F3F3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.to_work .container .dropdown:hover .cards_dropdown .card .card_number p {
  font-family: 'ProximaNovaBold';
}

.to_work .container .dropdown:hover .cards_dropdown .card:hover {
  border-color: #FC890D;
}

.to_work .container .dropdown:hover .cards_dropdown .card:hover .card_number {
  background-color: #FC890D;
}

.to_work .container .dropdown:hover .cards_dropdown .card:hover .card_number p {
  color: #fff;
}

.to_work .container .dropdown:hover .cards_dropdown .card .container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
}

.to_work .container .dropdown:hover .cards_dropdown .card .container .card_left_side {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
}

.to_work .container .dropdown:hover .cards_dropdown .card .container .card_left_side .card_info {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /*  hz right ili ne --------------------------------*/
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: 10%;
}

.to_work .container .dropdown:hover .cards_dropdown .card .container .card_left_side .card_info .card_top_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.to_work .container .dropdown:hover .cards_dropdown .card .container .card_left_side .card_info .card_top_info div:nth-child(1), .to_work .container .dropdown:hover .cards_dropdown .card .container .card_left_side .card_info .card_top_info div:nth-child(2), .to_work .container .dropdown:hover .cards_dropdown .card .container .card_left_side .card_info .card_top_info div:nth-child(3) {
  /*  hz right ili ne --------------------------------*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 40px 15px 15px 0;
}

.to_work .container .dropdown:hover .cards_dropdown .card .container .card_left_side .card_info .card_top_info div:nth-child(1) img, .to_work .container .dropdown:hover .cards_dropdown .card .container .card_left_side .card_info .card_top_info div:nth-child(2) img, .to_work .container .dropdown:hover .cards_dropdown .card .container .card_left_side .card_info .card_top_info div:nth-child(3) img {
  margin: 5px;
}

.to_work .container .dropdown:hover .cards_dropdown .card .container .card_left_side .card_info .card_top_info div:nth-child(1) p, .to_work .container .dropdown:hover .cards_dropdown .card .container .card_left_side .card_info .card_top_info div:nth-child(2) p, .to_work .container .dropdown:hover .cards_dropdown .card .container .card_left_side .card_info .card_top_info div:nth-child(3) p {
  font-family: 'ProximaNovaBold';
  color: #979FAD;
}

.to_work .container .dropdown:hover .cards_dropdown .card .container .card_left_side .card_info .card_top_info div:nth-child(1) .info_practice, .to_work .container .dropdown:hover .cards_dropdown .card .container .card_left_side .card_info .card_top_info div:nth-child(2) .info_practice, .to_work .container .dropdown:hover .cards_dropdown .card .container .card_left_side .card_info .card_top_info div:nth-child(3) .info_practice {
  color: #0099DD;
}

.to_work .container .dropdown:hover .cards_dropdown .card .container .card_left_side .card_info h3 {
  font-family: 'ProximaNovaBold';
  font-size: 24px;
  margin-bottom: 25px;
}

.to_work .container .dropdown:hover .cards_dropdown .card .container .card_left_side .card_info .card_bot_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.to_work .container .dropdown:hover .cards_dropdown .card .container .card_left_side .card_info .card_bot_info div:nth-child(1), .to_work .container .dropdown:hover .cards_dropdown .card .container .card_left_side .card_info .card_bot_info div:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 25px 40px 0;
}

.to_work .container .dropdown:hover .cards_dropdown .card .container .card_left_side .card_info .card_bot_info div:nth-child(1) p, .to_work .container .dropdown:hover .cards_dropdown .card .container .card_left_side .card_info .card_bot_info div:nth-child(2) p {
  font-family: 'ProximaNovaBold';
  font-size: 18px;
}

.to_work .container .dropdown:hover .cards_dropdown .card .container .card_left_side .card_info .card_bot_info div:nth-child(1) {
  cursor: pointer;
}

.to_work .container .dropdown:hover .cards_dropdown .card .container .card_left_side .card_info .card_bot_info div:nth-child(1) svg {
  margin-right: 10px;
}

.to_work .container .dropdown:hover .cards_dropdown .card .container .card_left_side .card_info .card_bot_info div:nth-child(1) svg path {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.to_work .container .dropdown:hover .cards_dropdown .card .container .card_left_side .card_info .card_bot_info div:nth-child(1) p {
  color: #696969;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.to_work .container .dropdown:hover .cards_dropdown .card .container .card_left_side .card_info .card_bot_info div:nth-child(1):hover svg path {
  fill: #FC890D;
}

.to_work .container .dropdown:hover .cards_dropdown .card .container .card_left_side .card_info .card_bot_info div:nth-child(1):hover p {
  color: #FC890D;
}

.to_work .container .dropdown:hover .cards_dropdown .card .container .card_left_side .card_info .card_bot_info div:nth-child(2) {
  cursor: pointer;
}

.to_work .container .dropdown:hover .cards_dropdown .card .container .card_left_side .card_info .card_bot_info div:nth-child(2) img {
  margin-right: 10px;
}

.to_work .container .dropdown:hover .cards_dropdown .card .container .card_left_side .card_info .card_bot_info div:nth-child(2) p {
  color: #696969;
}

.to_work .container .dropdown:hover .cards_dropdown .card .container .toggle_switch {
  -webkit-transform: scale(2);
          transform: scale(2);
}

.to_work .container .dropdown:hover .cards_dropdown .card .container .toggle_switch input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}

.to_work .container .dropdown:hover .cards_dropdown .card .container .toggle_switch label {
  cursor: pointer;
  text-indent: -9999px;
  width: 40px;
  height: 20px;
  background: #DFDADA;
  display: block;
  border-radius: 20px;
  position: relative;
}

.to_work .container .dropdown:hover .cards_dropdown .card .container .toggle_switch label:after {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 14px;
  height: 14px;
  background: #fff;
  border-radius: 14px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.to_work .container .dropdown:hover .cards_dropdown .card .container .toggle_switch input:checked + label {
  background: #FC890D;
}

.to_work .container .dropdown:hover .cards_dropdown .card .container .toggle_switch input:checked + label:after {
  left: calc(100% - 3px);
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.to_work .container .dropdown:hover .cards_dropdown .card .container .toggle_switch label:active:after {
  width: 20px;
}

.additional_tasks {
  background-color: #FAFAFA;
  padding: 10px 0 50px 0;
}

.additional_tasks .container {
  position: relative;
}

.additional_tasks .container .dropdown {
  position: relative;
}

.additional_tasks .container .dropdown .dropdown_switcher {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0;
  cursor: pointer;
}

.additional_tasks .container .dropdown .dropdown_switcher .left_dropdown_switcher_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.additional_tasks .container .dropdown .dropdown_switcher .left_dropdown_switcher_block .short_line {
  background-color: #222B3A;
}

.additional_tasks .container .dropdown .dropdown_switcher .left_dropdown_switcher_block h2 {
  font-family: 'ProximaNovaBold';
  font-size: 32px;
  word-wrap: normal;
  margin-left: 10px;
}

.additional_tasks .container .dropdown .dropdown_switcher .long_line {
  width: 70%;
  height: 3px;
  background-color: #F1F1F1;
}

.additional_tasks .container .dropdown .dropdown_switcher img {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
}

.additional_tasks .container .dropdown .cards_dropdown {
  display: none;
}

.additional_tasks .container .dropdown:hover .dropdown_switcher img {
  -webkit-transform: rotate(360deg) scale(1.3);
          transform: rotate(360deg) scale(1.3);
}

.additional_tasks .container .dropdown:hover .cards_dropdown {
  position: relative;
  display: block;
}

.additional_tasks .container .dropdown:hover .cards_dropdown .card {
  position: relative;
  background-color: #fff;
  border: 2px solid #FAFAFA;
  margin: 10px 0;
  min-height: 150px;
  /*   hz -------------------------------------- */
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.additional_tasks .container .dropdown:hover .cards_dropdown .card .adaptive_card_title {
  display: none;
}

.additional_tasks .container .dropdown:hover .cards_dropdown .card .card_number {
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  padding: 10px;
  background-color: #F3F3F3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.additional_tasks .container .dropdown:hover .cards_dropdown .card .card_number p {
  font-family: 'ProximaNovaBold';
}

.additional_tasks .container .dropdown:hover .cards_dropdown .card:hover {
  border-color: #FC890D;
}

.additional_tasks .container .dropdown:hover .cards_dropdown .card:hover .card_number {
  background-color: #FC890D;
}

.additional_tasks .container .dropdown:hover .cards_dropdown .card:hover .card_number p {
  color: #fff;
}

.additional_tasks .container .dropdown:hover .cards_dropdown .card .container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
}

.additional_tasks .container .dropdown:hover .cards_dropdown .card .container .card_left_side {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
}

.additional_tasks .container .dropdown:hover .cards_dropdown .card .container .card_left_side .card_info {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /*  hz right ili ne --------------------------------*/
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: 10%;
}

.additional_tasks .container .dropdown:hover .cards_dropdown .card .container .card_left_side .card_info .card_top_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.additional_tasks .container .dropdown:hover .cards_dropdown .card .container .card_left_side .card_info .card_top_info div:nth-child(1), .additional_tasks .container .dropdown:hover .cards_dropdown .card .container .card_left_side .card_info .card_top_info div:nth-child(2), .additional_tasks .container .dropdown:hover .cards_dropdown .card .container .card_left_side .card_info .card_top_info div:nth-child(3) {
  /*  hz right ili ne --------------------------------*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 40px 15px 15px 0;
}

.additional_tasks .container .dropdown:hover .cards_dropdown .card .container .card_left_side .card_info .card_top_info div:nth-child(1) img, .additional_tasks .container .dropdown:hover .cards_dropdown .card .container .card_left_side .card_info .card_top_info div:nth-child(2) img, .additional_tasks .container .dropdown:hover .cards_dropdown .card .container .card_left_side .card_info .card_top_info div:nth-child(3) img {
  margin: 5px;
}

.additional_tasks .container .dropdown:hover .cards_dropdown .card .container .card_left_side .card_info .card_top_info div:nth-child(1) p, .additional_tasks .container .dropdown:hover .cards_dropdown .card .container .card_left_side .card_info .card_top_info div:nth-child(2) p, .additional_tasks .container .dropdown:hover .cards_dropdown .card .container .card_left_side .card_info .card_top_info div:nth-child(3) p {
  font-family: 'ProximaNovaBold';
  color: #979FAD;
}

.additional_tasks .container .dropdown:hover .cards_dropdown .card .container .card_left_side .card_info .card_top_info div:nth-child(1) .info_practice, .additional_tasks .container .dropdown:hover .cards_dropdown .card .container .card_left_side .card_info .card_top_info div:nth-child(2) .info_practice, .additional_tasks .container .dropdown:hover .cards_dropdown .card .container .card_left_side .card_info .card_top_info div:nth-child(3) .info_practice {
  color: #0099DD;
}

.additional_tasks .container .dropdown:hover .cards_dropdown .card .container .card_left_side .card_info h3 {
  font-family: 'ProximaNovaBold';
  font-size: 24px;
  margin-bottom: 25px;
}

.additional_tasks .container .dropdown:hover .cards_dropdown .card .container .card_left_side .card_info .card_bot_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.additional_tasks .container .dropdown:hover .cards_dropdown .card .container .card_left_side .card_info .card_bot_info div:nth-child(1), .additional_tasks .container .dropdown:hover .cards_dropdown .card .container .card_left_side .card_info .card_bot_info div:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 25px 40px 0;
}

.additional_tasks .container .dropdown:hover .cards_dropdown .card .container .card_left_side .card_info .card_bot_info div:nth-child(1) p, .additional_tasks .container .dropdown:hover .cards_dropdown .card .container .card_left_side .card_info .card_bot_info div:nth-child(2) p {
  font-family: 'ProximaNovaBold';
  font-size: 18px;
}

.additional_tasks .container .dropdown:hover .cards_dropdown .card .container .card_left_side .card_info .card_bot_info div:nth-child(1) {
  cursor: pointer;
}

.additional_tasks .container .dropdown:hover .cards_dropdown .card .container .card_left_side .card_info .card_bot_info div:nth-child(1) svg {
  margin-right: 10px;
}

.additional_tasks .container .dropdown:hover .cards_dropdown .card .container .card_left_side .card_info .card_bot_info div:nth-child(1) svg path {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.additional_tasks .container .dropdown:hover .cards_dropdown .card .container .card_left_side .card_info .card_bot_info div:nth-child(1) p {
  color: #696969;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.additional_tasks .container .dropdown:hover .cards_dropdown .card .container .card_left_side .card_info .card_bot_info div:nth-child(1):hover svg path {
  fill: #FC890D;
}

.additional_tasks .container .dropdown:hover .cards_dropdown .card .container .card_left_side .card_info .card_bot_info div:nth-child(1):hover p {
  color: #FC890D;
}

.additional_tasks .container .dropdown:hover .cards_dropdown .card .container .card_left_side .card_info .card_bot_info div:nth-child(2) {
  cursor: pointer;
}

.additional_tasks .container .dropdown:hover .cards_dropdown .card .container .card_left_side .card_info .card_bot_info div:nth-child(2) img {
  margin-right: 10px;
}

.additional_tasks .container .dropdown:hover .cards_dropdown .card .container .card_left_side .card_info .card_bot_info div:nth-child(2) p {
  color: #696969;
}

.additional_tasks .container .dropdown:hover .cards_dropdown .card .container .toggle_switch {
  -webkit-transform: scale(2);
          transform: scale(2);
}

.additional_tasks .container .dropdown:hover .cards_dropdown .card .container .toggle_switch input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}

.additional_tasks .container .dropdown:hover .cards_dropdown .card .container .toggle_switch label {
  cursor: pointer;
  text-indent: -9999px;
  width: 40px;
  height: 20px;
  background: #DFDADA;
  display: block;
  border-radius: 20px;
  position: relative;
}

.additional_tasks .container .dropdown:hover .cards_dropdown .card .container .toggle_switch label:after {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 14px;
  height: 14px;
  background: #fff;
  border-radius: 14px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.additional_tasks .container .dropdown:hover .cards_dropdown .card .container .toggle_switch input:checked + label {
  background: #FC890D;
}

.additional_tasks .container .dropdown:hover .cards_dropdown .card .container .toggle_switch input:checked + label:after {
  left: calc(100% - 3px);
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.additional_tasks .container .dropdown:hover .cards_dropdown .card .container .toggle_switch label:active:after {
  width: 20px;
}

footer {
  padding: 40px 0;
  width: 100%;
  background-color: #1092CB;
  color: #fff;
  position: relative;
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

footer .container .footer_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

footer .container .footer_card .title_text {
  font-size: 24px;
  font-family: 'ProximaNovaBold';
}

footer .container .footer_card .short_line {
  height: 3px;
  width: 30px;
  background-color: #fff;
  border-radius: 1px;
  margin: 5px 0 20px 0;
}

footer .container .footer_card p {
  font-family: 'ProximaNovaSemibold';
  margin-bottom: 10px;
}

footer .container .footer_card a {
  color: #fff;
  font-family: 'ProximaNovaSemibold';
  padding: 5px 10px 5px 0px;
}

footer .container .footer_card .phone {
  font-family: 'ProximaNovaSemibold';
  margin-bottom: 0;
  padding: 5px 10px 5px 0px;
}

.footer_line {
  background-color: #222B3A;
  height: 50px;
  bottom: 0;
}

@media screen and (max-width: 1400px) {
  .title_screen::before {
    content: url(../img/freakin_fkin_kid_cut.png);
    -webkit-transform: translate(100px, 64px) scale(0.8);
            transform: translate(100px, 64px) scale(0.8);
  }
}

@media screen and (max-width: 1200px) {
  .title_screen::before {
    -webkit-transform: translate(180px, 123px) scale(0.6);
            transform: translate(180px, 123px) scale(0.6);
  }
  .title_screen .stripe {
    width: 60%;
  }
}

@media screen and (max-width: 900px) {
  footer .container {
    position: relative;
  }
  footer .container .footer_card {
    position: relative;
  }
  footer .container .footer_card:nth-child(1) {
    display: none;
  }
  footer .container .footer_card:nth-child(2) {
    display: none;
  }
  footer .container .footer_card:nth-child(3) {
    display: none;
  }
  footer .container .footer_card:nth-child(4) {
    position: relative;
  }
  footer .container .footer_card:nth-child(4) a:nth-of-type(1)::before {
    position: relative;
    margin-right: 15px;
    content: url(../img/phone.svg);
  }
  footer .container .footer_card:nth-child(4) a:nth-of-type(2)::before {
    position: relative;
    margin-right: 15px;
    content: url(../img/phone.svg);
  }
  footer .container .footer_card:nth-child(4) p:nth-of-type(2)::before {
    position: relative;
    margin-right: 15px;
    content: url(../img/phone.svg);
  }
  footer .container .footer_card:nth-child(4) p:nth-of-type(3)::before {
    position: relative;
    margin-right: 15px;
    content: url(../img/phone.svg);
  }
  .title_screen::before {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@media screen and (max-width: 780px) {
  header .container ul {
    display: none;
  }
  header .container .burger_menu {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    height: 16px;
    cursor: pointer;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  header .container .burger_menu .burger_menu_element {
    background-color: #222B3A;
    width: 23px;
    height: 2px;
  }
  header .container .burger_menu .burger_menu_element_bottom {
    background-color: #222B3A;
    width: 18px;
    height: 2px;
  }
  header .container .burger_menu .nav_in_burger {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 150px;
    background-color: rgba(120, 189, 226, 0.5);
    border-radius: 5px;
    -webkit-transform: scale(0) translate(0px, -200px);
            transform: scale(0) translate(0px, -200px);
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
  header .container .burger_menu .nav_in_burger a {
    padding: 20px 0 20px 0;
    margin: 0 20px 0 20px;
    font-family: 'ProximaNovaBold';
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-transition: all .1s;
    transition: all .1s;
  }
  header .container .burger_menu .nav_in_burger a:hover {
    border-bottom: 3px solid #FC890D;
  }
  header .container .burger_menu:hover .nav_in_burger {
    -webkit-transform: scale(1) translate(-100px, 5px);
            transform: scale(1) translate(-100px, 5px);
  }
  .module_purposes nav {
    position: relative;
    z-index: 200;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
    width: 95%;
  }
  .module_purposes .container {
    width: 95%;
  }
  .to_work .container {
    width: 95%;
  }
  .to_work .container .dropdown .dropdown_switcher .left_dropdown_switcher_block h2 {
    font-size: 24px;
  }
  .to_work .container .dropdown:hover .cards_dropdown .card:hover .adaptive_card_title .adaptive_card_left_block .card_number_adaptive {
    background-color: #FC890D;
  }
  .to_work .container .dropdown:hover .cards_dropdown .card .card_number {
    display: none;
  }
  .to_work .container .dropdown:hover .cards_dropdown .card .adaptive_card_title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 30px auto 0 auto;
    width: 95%;
  }
  .to_work .container .dropdown:hover .cards_dropdown .card .adaptive_card_title .adaptive_card_left_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .to_work .container .dropdown:hover .cards_dropdown .card .adaptive_card_title .adaptive_card_left_block .card_number_adaptive {
    position: relative;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    padding: 10px;
    margin-right: 30px;
    background-color: #F3F3F3;
    border-radius: 3px 0 3px 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .to_work .container .dropdown:hover .cards_dropdown .card .adaptive_card_title .adaptive_card_left_block .left_side_img_adaptive {
    margin-top: 10px;
    margin-bottom: 15px;
  }
  .to_work .container .dropdown:hover .cards_dropdown .card .adaptive_card_title .toggle_switch_adaptive {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .to_work .container .dropdown:hover .cards_dropdown .card .adaptive_card_title .toggle_switch_adaptive input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
  }
  .to_work .container .dropdown:hover .cards_dropdown .card .adaptive_card_title .toggle_switch_adaptive label {
    cursor: pointer;
    text-indent: -9999px;
    width: 80px;
    height: 40px;
    background: #DFDADA;
    display: block;
    border-radius: 40px;
    position: relative;
  }
  .to_work .container .dropdown:hover .cards_dropdown .card .adaptive_card_title .toggle_switch_adaptive label:after {
    content: '';
    position: absolute;
    top: 6px;
    left: 6px;
    width: 28px;
    height: 28px;
    background: #fff;
    border-radius: 28px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .to_work .container .dropdown:hover .cards_dropdown .card .adaptive_card_title .toggle_switch_adaptive input:checked + label {
    background: #FC890D;
  }
  .to_work .container .dropdown:hover .cards_dropdown .card .adaptive_card_title .toggle_switch_adaptive input:checked + label:after {
    left: calc(100% - 6px);
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  .to_work .container .dropdown:hover .cards_dropdown .card .adaptive_card_title .toggle_switch_adaptive label:active:after {
    width: 40px;
  }
  .to_work .container .dropdown:hover .cards_dropdown .card .container {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 95%;
  }
  .to_work .container .dropdown:hover .cards_dropdown .card .container .card_left_side {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 95%;
  }
  .to_work .container .dropdown:hover .cards_dropdown .card .container .card_left_side .left_side_img {
    display: none;
  }
  .to_work .container .dropdown:hover .cards_dropdown .card .container .card_left_side .card_info {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-left: 0;
  }
  .to_work .container .dropdown:hover .cards_dropdown .card .container .card_left_side .card_info .card_top_info div:nth-child(1) p, .to_work .container .dropdown:hover .cards_dropdown .card .container .card_left_side .card_info .card_top_info div:nth-child(2) p, .to_work .container .dropdown:hover .cards_dropdown .card .container .card_left_side .card_info .card_top_info div:nth-child(3) p {
    font-size: 14px;
  }
  .to_work .container .dropdown:hover .cards_dropdown .card .container .card_left_side .card_info h3 {
    font-size: 20px;
  }
  .to_work .container .dropdown:hover .cards_dropdown .card .container .card_left_side .card_info .card_bot_info {
    position: relative;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .to_work .container .dropdown:hover .cards_dropdown .card .container .card_left_side .card_info .card_bot_info div:nth-child(1), .to_work .container .dropdown:hover .cards_dropdown .card .container .card_left_side .card_info .card_bot_info div:nth-child(2) {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    background-color: #FAFAFA;
    padding: 5px 10px;
    border: 2px solid #DFDADA;
    border-radius: 3px;
  }
  .to_work .container .dropdown:hover .cards_dropdown .card .container .card_left_side .card_info .card_bot_info div:nth-child(1) p, .to_work .container .dropdown:hover .cards_dropdown .card .container .card_left_side .card_info .card_bot_info div:nth-child(2) p {
    font-size: 14px;
  }
  .to_work .container .dropdown:hover .cards_dropdown .card .container .card_left_side .card_info .card_bot_info div:nth-child(2) {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .to_work .container .dropdown:hover .cards_dropdown .card .container .card_left_side .card_info .card_bot_info div:nth-child(2):hover {
    background-color: #FFFCFC;
  }
  .to_work .container .dropdown:hover .cards_dropdown .card .container .toggle_switch {
    display: none;
  }
  .additional_tasks .container {
    width: 95%;
  }
  .additional_tasks .container .dropdown .dropdown_switcher .left_dropdown_switcher_block h2 {
    font-size: 24px;
  }
  .additional_tasks .container .dropdown:hover .cards_dropdown .card:hover .adaptive_card_title .adaptive_card_left_block .card_number_adaptive {
    background-color: #FC890D;
  }
  .additional_tasks .container .dropdown:hover .cards_dropdown .card .card_number {
    display: none;
  }
  .additional_tasks .container .dropdown:hover .cards_dropdown .card .adaptive_card_title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 30px auto 0 auto;
    width: 95%;
  }
  .additional_tasks .container .dropdown:hover .cards_dropdown .card .adaptive_card_title .adaptive_card_left_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .additional_tasks .container .dropdown:hover .cards_dropdown .card .adaptive_card_title .adaptive_card_left_block .card_number_adaptive {
    position: relative;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    padding: 10px;
    margin-right: 30px;
    background-color: #F3F3F3;
    border-radius: 3px 0 3px 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .additional_tasks .container .dropdown:hover .cards_dropdown .card .adaptive_card_title .adaptive_card_left_block .left_side_img_adaptive {
    margin-top: 10px;
    margin-bottom: 15px;
  }
  .additional_tasks .container .dropdown:hover .cards_dropdown .card .adaptive_card_title .toggle_switch_adaptive {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .additional_tasks .container .dropdown:hover .cards_dropdown .card .adaptive_card_title .toggle_switch_adaptive input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
  }
  .additional_tasks .container .dropdown:hover .cards_dropdown .card .adaptive_card_title .toggle_switch_adaptive label {
    cursor: pointer;
    text-indent: -9999px;
    width: 80px;
    height: 40px;
    background: #DFDADA;
    display: block;
    border-radius: 40px;
    position: relative;
  }
  .additional_tasks .container .dropdown:hover .cards_dropdown .card .adaptive_card_title .toggle_switch_adaptive label:after {
    content: '';
    position: absolute;
    top: 6px;
    left: 6px;
    width: 28px;
    height: 28px;
    background: #fff;
    border-radius: 28px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .additional_tasks .container .dropdown:hover .cards_dropdown .card .adaptive_card_title .toggle_switch_adaptive input:checked + label {
    background: #FC890D;
  }
  .additional_tasks .container .dropdown:hover .cards_dropdown .card .adaptive_card_title .toggle_switch_adaptive input:checked + label:after {
    left: calc(100% - 6px);
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  .additional_tasks .container .dropdown:hover .cards_dropdown .card .adaptive_card_title .toggle_switch_adaptive label:active:after {
    width: 40px;
  }
  .additional_tasks .container .dropdown:hover .cards_dropdown .card .container {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 95%;
  }
  .additional_tasks .container .dropdown:hover .cards_dropdown .card .container .card_left_side {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 95%;
  }
  .additional_tasks .container .dropdown:hover .cards_dropdown .card .container .card_left_side .left_side_img {
    display: none;
  }
  .additional_tasks .container .dropdown:hover .cards_dropdown .card .container .card_left_side .card_info {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-left: 0;
  }
  .additional_tasks .container .dropdown:hover .cards_dropdown .card .container .card_left_side .card_info .card_top_info div:nth-child(1) p, .additional_tasks .container .dropdown:hover .cards_dropdown .card .container .card_left_side .card_info .card_top_info div:nth-child(2) p, .additional_tasks .container .dropdown:hover .cards_dropdown .card .container .card_left_side .card_info .card_top_info div:nth-child(3) p {
    font-size: 14px;
  }
  .additional_tasks .container .dropdown:hover .cards_dropdown .card .container .card_left_side .card_info h3 {
    font-size: 20px;
  }
  .additional_tasks .container .dropdown:hover .cards_dropdown .card .container .card_left_side .card_info .card_bot_info {
    position: relative;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .additional_tasks .container .dropdown:hover .cards_dropdown .card .container .card_left_side .card_info .card_bot_info div:nth-child(1), .additional_tasks .container .dropdown:hover .cards_dropdown .card .container .card_left_side .card_info .card_bot_info div:nth-child(2) {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    background-color: #FAFAFA;
    padding: 5px 10px;
    border: 2px solid #DFDADA;
    border-radius: 3px;
  }
  .additional_tasks .container .dropdown:hover .cards_dropdown .card .container .card_left_side .card_info .card_bot_info div:nth-child(1) p, .additional_tasks .container .dropdown:hover .cards_dropdown .card .container .card_left_side .card_info .card_bot_info div:nth-child(2) p {
    font-size: 14px;
  }
  .additional_tasks .container .dropdown:hover .cards_dropdown .card .container .card_left_side .card_info .card_bot_info div:nth-child(2) {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .additional_tasks .container .dropdown:hover .cards_dropdown .card .container .card_left_side .card_info .card_bot_info div:nth-child(2):hover {
    background-color: #FFFCFC;
  }
  .additional_tasks .container .dropdown:hover .cards_dropdown .card .container .toggle_switch {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .title_screen .stripe {
    width: 75%;
  }
  .title_screen .stripe h1 {
    font-size: 28px;
  }
  .title_screen .container {
    width: 90%;
  }
  .title_screen .container .title_text {
    position: relative;
    width: 90%;
  }
  .title_screen .container .progress_text {
    margin-bottom: 0;
  }
  .title_screen .title_bottom_text {
    margin: 0 0 10px 5%;
  }
  .under_main_screen {
    display: none;
  }
  .module_purposes nav {
    width: 95%;
  }
  .module_purposes .container .dropdown .dropdown_switcher .left_dropdown_switcher_block h2 {
    font-size: 24px;
  }
  .module_purposes .container .dropdown:hover .dropdown_list .dropdown_item .dropdown_item_text .item_text {
    font-size: 14px;
  }
}
/*# sourceMappingURL=module.css.map */